body {
  background-color: rgb(54,71,79);
  overflow: hidden;
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

.App {
  color: white;
  flex-direction: row;
}

nav {
  margin: 0px;
  padding: 0px;
  background-color: silver;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav li {
  background: white;
  display: inline-block;
  padding: 10px;
  margin-right: 1px;
}

a {
  color: black;
  text-decoration: none;
}

.content {
  padding: 20px;
  overflow-x: auto;
  overflow-y: auto;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 40px;
  width: 100%;
  background: none;
  outline: none;
  border-radius: 0;
  overflow: hidden;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ddd;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border: 2px solid #999;
  box-shadow: -100vw 0 0 100vw #69eaab;
}